<h1><%= @interview.title %> Interviewees</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>Interviewees</td>
    <td>Password</td>
    <td>Interview URL</td>
    <td>Status</td>
    <td>View Result</td>
	</tr>
    <% @interviewees.each do |interviewee| %>
      <tr>
        <td><%= interviewee.email %></td>
        <td><%= interviewee.password %></td>
        <td><%= interview_url @interview %></td>
        <td><span class="label label-info"><%= interviewee.interview_result.status %></span></td>
        <td><%= link_to 'Result', org_interview_interviewee_path(@interview, interviewee) %></td>
        <td><%= link_to 'Delete', org_interview_interviewee_path(@interview, interviewee), method: :delete, data: {confirm: 'Are you sure'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Interviewee', new_org_interview_interviewee_path %><br>
<%= link_to 'Back', org_interviews_path(@interview) %>
