<% if @submission %>
	<%= render 'submissions/details', submission: @submission %>
<% else %>
	<p style="text-align: center"><i>Nothing submitted yet.</i></p>
<% end %>
<hr>
<%= link_to 'Back', org_interview_interviewee_path(@interview, @interviewee) %>
</p>
