<h4><%= @interview.title %> - <%= @interviewee.email %> result</h4>
<hr>
<h5>Score: <%= @interview_result.score %></h5>
<h5>Time: <%= used_time_of @interview_result %></h5>
<hr>
<h5>Details</h5>
<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <% submission = @submissions[problem.id] %>
      <tr>
        <td><%= link_to problem.title, org_interview_interviewee_problem_path(@interview, @interviewee, problem) %></td>
        <td><span class="label label-info"><%= interview_submission_status submission %></span></td>
        <td><%= org_interview_submission_score submission, problem %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<%= link_to 'Interviewees', org_interview_interviewees_path, class: 'btn btn-success' %>
