<h1><%= @problem.title %> Test Cases</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>List</td>
	</tr>
    <% @test_cases.each_with_index do |test_case, index| %>
      <tr>
        <td><%= link_to "Test Case #{index}", edit_admin_problem_test_case_path(@problem, test_case) %></td>
        <td><%= link_to 'Edit', edit_admin_problem_test_case_path(@problem, test_case) %></td>
        <td><%= link_to 'Delete', admin_problem_test_case_path(@problem, test_case), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Test Case', new_admin_problem_test_case_path %><br>
<%= link_to "Back", admin_problems_path %>
