<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 auth-outer-panel">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 auth-inner-panel">
        <div class="row heading">
          Login
        </div>
        <div class="row">
          <%= form_for @user, { url: email_auth_path, method: :post, class: "form-horizontal" } do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "col-xs-3 control-label" %>
            <div class="col-xs-9">
              <%= f.text_field :email, class: "form-control"%><br>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "col-xs-3 control-label" %>
            <div class="col-xs-9">
              <%= f.password_field :password, class: "form-control" %><br>
            </div>
          </div>
          <div class="form-group col-xs-10 col-xs-offset-1">
            <%= f.submit 'Login with email', class: "btn btn-primary form-control" %>
          </div>
          <div class="form-group col-xs-10 col-xs-offset-1">
            <%= link_to 'Login with github', github_auth_path, class:"btn btn-primary form-control" %>
          </div>
          <div class="form-group col-xs-10 col-xs-offset-1">
            <%= link_to 'Login with Facebook', facebook_auth_path, class:"btn btn-primary form-control" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 auth-inner-panel">
        <div class="form-group heading">
            Don't have an account yet?
        </div>
        <div class="row">
          <div class="form-group col-xs-10 col-xs-offset-1">
            <%= link_to 'Register new account', register_path, class: "btn btn-default form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
