<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 outer-panel">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 inner-panel">
        <div class="row heading">
          Register new account
        </div>
        <div class="row">
          <%= form_for @user, { url: register_path, method: :post } do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "col-xs-3 control-label" %>
            <div class="col-xs-9">
              <%= f.text_field :email, class: "form-control"%><br>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :full_name, class: "col-xs-3 control-label" %>
            <div class="col-xs-9">
              <%= f.text_field :name, class: "form-control"%><br>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "col-xs-3 control-label" %>
            <div class="col-xs-9">
              <%= f.password_field :password, class: "form-control"%><br>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirm, class: "col-xs-3 control-label" %>
            <div class="col-xs-9">
              <%= f.password_field :password_confirmation, class: "form-control"%><br>
            </div>
          </div>
          <div class="form-group col-xs-10 col-xs-offset-1">
            <%= f.submit 'Register', class: "btn btn-primary form-control" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
