<h2><%= interview.title %></h2>
<hr>
<h2>Description</h2>
<%= sanitize  interview.description_html %>
<hr>
<h2>Benefits</h2>
<span>Min Salary (USD):</span><%= simple_format interview.salary_min.to_s %>
<span>Max Salary (USD):</span><%= simple_format interview.salary_max.to_s %>
<h2>Duration (minutes)</h2>
<%= simple_format interview.duration.to_s %>
