<%= form_for @interviewee, url: interview_start_path, method: :post do |f| %>
<div class="form-group row">
  <%= f.label :email, class: "col-xs-3 control-label" %>
  <div class="col-xs-9">
    <%= f.text_field :email, class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :password, class: "col-xs-3 control-label" %>
  <div class="col-xs-9">
    <%= f.text_field :password, class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-9 col-xs-offset-3">
    <%= f.submit 'Start Interview', class: "btn btn-success" %>
  </div>
</div>
<% end %>
