
<h1><%= @interview.title %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <% submission = @submissions[problem.id] %>
      <tr>
        <td><%= link_to problem.title, interview_problem_show_path(@interview, problem) %></td>
        <td><span class="label <%= interview_submission_status_class(submission) %>" ><%= interview_submission_status submission %></span></td>
        <td><%= interview_submission_score(submission, problem) %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<div style="text-align: center"><%= button_to 'Finish', interview_finish_path(@interview), method: :post, class: "btn btn-success", data: {confirm: 'Are you sure?'} %></div>
