<h3>Your score is <%= @interviewee.interview_result.score %></h3>
<h4>Thank you for taking the interview. We will be in touch shortly after valuating your result.</h4>
<%= link_to 'Logout of current interview', interview_logout_path, method: :post, class: "btn btn-success" %>
