<%= render 'problems/details', problem: @problem %>
<hr>
<%= render 'submissions/form', problem: @problem, submission: @submission,
		url_for_submit: interview_problem_solve_path(@interview, @problem),
		url_for_try: interview_problem_try_path(@interview, @problem) %>

<%= link_to 'Problem lists', interview_problems_path(@interview), class: "btn btn-primary" %>
