<% if @submission %>
	<%= render 'submissions/details', submission: @submission %>
<% else %>
	<p style="text-align: center"><i>Nothing submitted yet.</i></p>
<% end %>
<%= link_to 'Edit submission', interview_problem_show_path(@interview, @problem), class: "btn btn-primary" %> |
<%= link_to 'Problem lists', interview_problems_path(@interview), class: "btn btn-primary" %>
