<h3>On going Contests</h3>
<% @on_going.each do |contest| %>
<a href="<%= contest_path(contest) %>"><%= contest.title %></a><br>
<% end %>
<hr>
<h3>Not started Contests</h3>
<% @not_started.each do |contest| %>
<a href="<%= contest_path(contest) %>"><%= contest.title %></a><br>
<% end %>
<hr>
<h3>Finished Contests</h3>
<% @finished.each do |contest| %>
<a href="<%= contest_path(contest) %>"><%= contest.title %></a><br>
<% end %>
