<h3><%= @contest.title %></h3>
<hr>
<h3>Description</h3>
<%= sanitize @contest.description_html %>
<hr>
Start: <%= distance_of_time_in_words(Time.current, @contest.start_time) %>
<%= @contest.not_started? ? 'from now.' : 'ago.' %><br>
Finish: <%= distance_of_time_in_words(Time.current, @contest.finish_time) %>
<%= @contest.finished? ? 'ago.' : 'from now.' %><br>
<hr>
<% if @contest.finished? %>
<a href="<%= contest_problems_path %>" class="btn btn-info">View contest archieve</a>
<% elsif current_user.in_contest?(@contest) %>
<a href="<%= contest_problems_path(@contest) %>" class="btn btn-success">Go to contest</a>
<% else %>
<a href="<%= join_contest_path(@contest) %>" class="btn btn-success">Join this contest</a>
<% end %>
