<%= render 'problems/details', problem: @problem %>
<hr>
<p><%= link_to 'Test cases', org_problem_test_cases_path(@problem) %></p>
<p>
<%= link_to 'Edit', edit_org_problem_path(@problem) %> |
<%= link_to 'Back', org_problems_path %>
</p>
