<%= form_for([:admin, contest]) do |f| %>
  <div class="form-group row">
    <%= f.label :title, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <div id="description-editor" class="form-control markdown-text"><%= contest.description %></div>
      <%= f.hidden_field :description %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :status, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.select :status, contest_allowed_statuses, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :start_time, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.datetime_select :start_time, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :finish_time, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.datetime_select :finish_time, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-9 col-xs-offset-3">
      <%= f.submit 'Submit Contest', { class: "btn btn-primary" } %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  var des_editor = ace.edit("description-editor");
  des_editor.getSession().setMode("ace/mode/markdown");
  des_editor.on("change", function(e) {
    $("#contest_description").val(des_editor.getValue());
  });
<% end %>
