<h1>Admin Contests</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>On Going Contests</td>
	</tr>
    <% @on_going.each do |contest| %>
      <tr>
        <td><%= link_to contest.title, edit_admin_contest_path(contest) %></td>
        <td><span class="label label-info"><%= contest.status %></span></td>
        <td><%= link_to 'Problems', admin_contest_problems_path(contest) %></td>
        <td><%= link_to 'Delete', [:admin, contest], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>Not Started Contests</td>
	</tr>
    <% @not_started.each do |contest| %>
      <tr>
        <td><%= link_to contest.title, edit_admin_contest_path(contest) %></td>
        <td><span class="label label-info"><%= contest.status %></span></td>
        <td><%= link_to 'Problems', admin_contest_problems_path(contest) %></td>
        <td><%= link_to 'Delete', [:admin, contest], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>Finished Contests</td>
	</tr>
    <% @finished.each do |contest| %>
      <tr>
        <td><%= link_to contest.title, edit_admin_contest_path(contest) %></td>
        <td><span class="label label-info"><%= contest.status %></span></td>
        <td><%= link_to 'Problems', admin_contest_problems_path(contest) %></td>
        <td><%= link_to 'Delete', [:admin, contest], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Contest', new_admin_contest_path %>
<br>
<%= link_to 'Back', admin_path %>
