<h1>Contest Problems</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>In Contest Problems</td>
	</tr>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= link_to problem.title, admin_contest_show_problem_path(@contest, problem) %></td>
        <td><%= link_to 'Delete', admin_contest_delete_problem_path(@contest, problem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>Available Problems</td>
	</tr>
    <% @available.each do |problem| %>
      <tr>
        <td><%= link_to problem.title, admin_contest_show_problem_path(@contest, problem) %></td>
        <td><%= link_to 'Add', admin_contest_add_problem_path(@contest, problem), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', admin_contests_path %>
