<%= form_for([:org, interview]) do |f| %>
  <div class="form-group row">
    <%= f.label :title, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <div id="description-editor" class="form-control markdown-text" data-ace-mode="markdown" data-ace-for="interview_description"><%= interview.description %></div>
      <%= f.hidden_field :description %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :salary_min, 'Min Salary (USD)', class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.number_field :salary_min, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :salary_max, 'Max Salary (USD)', class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.number_field :salary_max, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :duration, 'Duration (minutes)', class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.number_field :duration, class: "form-control" %>
    </div>
  </div>
  <% if can_change_status? interview %>
  <div class="form-group row">
    <%= f.label :status, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.select :status, interview_allowed_statuses, class: "form-control" %>
    </div>
  </div>
  <% end %>
  <div class="form-group row">
    <div class="col-xs-9 col-xs-offset-3">
      <%= f.submit 'Submit Interview', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
