<h1>Organization Interviews</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>Interviews</td>
    <td>Status</td>
    <td>Share Url</td>
    <td>Manage Problems</td>
    <td>Manage Interviewee</td>
	</tr>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= link_to interview.title, org_interview_path(interview) %></td>
        <td><span class="label label-info"><%= interview.status %></span></td>
        <td><%= interview_url interview %></td>
        <td><%= link_to 'Problems', org_interview_problems_path(interview) %></td>
        <td><%= link_to 'Interviewees', org_interview_interviewees_path(interview) %></td>
        <td><%= link_to 'Delete', [:org, interview], method: :delete, data: {confirm: 'Are you sure'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Interview', new_org_interview_path %><br>
<%= link_to 'Back', org_path %>
