
<h1>Interview Problems</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>In Interview Problems</td>
	</tr>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= link_to problem.title, org_interview_show_problem_path(@interview, problem) %></td>
        <td><%= link_to 'Delete', org_interview_delete_problem_path(@interview, problem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>Available Problems</td>
	</tr>
    <% @available.each do |problem| %>
      <tr>
        <td><%= link_to problem.title, org_interview_show_problem_path(@interview, problem) %></td>
        <td><%= link_to 'Add', org_interview_add_problem_path(@interview, problem), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', org_interviews_path %>
