<%= render 'interviews/details', interview: @interview %>

<p>
<%= link_to 'Problems', org_interview_problems_path(@interview) %> |
<%= link_to 'Interviewees', org_interview_interviewees_path(@interview) %>
</p>
<p>
<%= link_to 'Interviews', org_interviews_path %> |
<%= link_to 'Edit', edit_org_interview_path(@interview) %>
</p>