<h2><%= problem.title =%></h2>
<hr>
<h3>Description</h3>
<p><%= sanitize problem.description_html %></p>
<hr>
<h3>Example</h3>
<h4>Input</h4>
<code><%= simple_format problem.sample_input %></code>
<h4>Output</h4>
<code><%= simple_format problem.sample_output %></code>
<h3>Explanation</h3>
<p><%= sanitize problem.explanation_html %></p>
