<%  resource = [problem]
    resource = [namespace] + resource if defined? namespace
%>
<%= form_for resource do |f| %>

  <div class="form-group row">
    <%= f.label :title, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :type, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.collection_select :problem_type_id, ProblemType.all, :id, :name, {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :allowed_languages, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.collection_check_boxes :language_ids, Language.all, :id, :name, {} do |b| %>
      <span>
        <%= b.check_box %>
        <%= b.label %>
      </span>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :domains, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.collection_check_boxes :domain_ids, Domain.all, :id, :name, {} do |b| %>
      <span>
        <%= b.check_box %>
        <%= b.label %>
      </span>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :level, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.collection_select :level_id, Level.all, :id, :name, {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :max_points, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.number_field :max_points, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <div id="description-editor" class="form-control markdown-text"><%= problem.description %></div>
      <%= f.hidden_field :description %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :sample_input, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.text_area :sample_input, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :sample_output, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.text_area :sample_output, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :explanation, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <div id="explanation-editor" class="form-control markdown-text"><%= problem.explanation %></div>
      <%= f.hidden_field :explanation %>
    </div>
  </div>

  <% if can_change_status?(problem) %>
    <div class="form-group row">
      <%= f.label :status, class: "col-xs-3 control-label" %>
      <div class="col-xs-9">
        <%= f.select :status, problem_allowed_statuses, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-xs-9 col-xs-offset-3">
      <%= f.submit 'Submit problem', { class: "btn btn-primary" } %>
    </div>
  </div>

<% end %>

<%= javascript_tag do %>
  var des_editor = ace.edit("description-editor");
  des_editor.getSession().setMode("ace/mode/markdown");
  des_editor.on("change", function(e) {
    $("#problem_description").val(des_editor.getValue());
  });

  var ex_editor = ace.edit("explanation-editor");
  ex_editor.getSession().setMode("ace/mode/markdown");
  ex_editor.on("change", function(e) {
    $("#problem_explanation").val(ex_editor.getValue());
  });
<% end %>
