<div id="test-results-display" class="row" style="display: none">
	<div class="col-xs-offset-2">
		<i>Tests passed: <span id="tests-passed-count"></span> / <%= test_cases.size %></i>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th class="col-xs-1"></th>
					<th class="col-xs-1"></th>
					<th class="col-xs-8"></th>
				</thead>
				<tbody>
					<% test_cases.each_with_index do |test_case, i| %>
					<div>
						<tr>
							<td rowspan="3"><p><b>Test case <%= i %></b></p><br/><p><span id="test-case-result-<%= i -%>"></span></p></td>
							<td class="text-right">Input:</td>
							<td><pre><%= test_case.input %></pre></td>
						</tr>
						<tr>
							<td class="text-right">Expected output:</td>
							<td><pre><%= test_case.output %></pre></td>
						</tr>
						<tr>
							<td class="text-right">Output:</td>
							<td><pre id="test-case-output-<%= i -%>"></pre></td>
						</tr>
					</div>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
