<h1>Admin Problems</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>Draft Problems</td>
	</tr>
    <% @draft.each do |problem| %>
      <tr>
        <td><%= link_to problem.title, [:admin, problem] %></td>
        <td><%= link_to 'Edit', edit_admin_problem_path(problem) %></td>
        <td><%= link_to 'Test Cases', admin_problem_test_cases_path(problem) %></td>
        <td><%= link_to 'Delete', [:admin, problem], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td>Available Problems</td>
	</tr>
    <% @available.each do |problem| %>
      <tr>
        <td><%= link_to problem.title, [:admin, problem] %></td>
        <td><%= link_to 'Edit', edit_admin_problem_path(problem) %></td>
        <td><%= link_to 'Test Cases', admin_problem_test_cases_path(problem) %></td>
        <td><%= link_to 'Delete', [:admin, problem], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Problem', new_admin_problem_path %>
<br>
<%= link_to 'Back', admin_path %>
