<%= render 'test_cases/details', problem: @problem, test_case: @test_case %>
<br>
<%= link_to 'Back', org_problem_test_cases_path %> |
<%= link_to 'Edit', edit_org_problem_test_case_path(@problem, @test_case) %>
