<% submission.test_results.each_with_index do |result, i| %>
	Test case <%= i %>: <%= format_test_result(result) %><br/>
<% end %>
<br /><br />
<p><b>Score: <%= submission.score %></b></p>
<hr>
<p>Language: <b><%= submission.language.name %></b></p>

<pre><code><%= submission.content %></code></pre>
