<%= form_for submission, as: :submission, method: :post, remote: true, url: url_for_submit, html: {id: "submission_form"} do |f| %>
  <%= f.hidden_field :problem_id %>

  <div class="form-group row">
    <%= f.label :language, class: "control-label col-xs-2" %>
    <div class="col-xs-10">
      <%= f.collection_select :language_id, problem.languages, :id, :name, {}, class: "form-control" %>
    </div>
  </div>

	<div class="form-group row">
    <%= f.label :content, "Code", class: "control-label col-xs-2" %>
    <div class="col-xs-10">
      <div id="code-editor" class="form-control markdown-text"><%= submission.content %></div>
      <%= f.hidden_field :content, class: "form-control" %>
    </div>
  </div>

	<div class="form-group row">
    <div class="col-xs-offset-2">
      <div class="col-xs-10">
        <%= f.submit 'Test code', class: "btn btn-warning", formaction: url_for_try, data: {'disable-with' => "Running..."} %>
  	    <%= f.submit 'Submit code', class: "btn btn-primary", formaction: url_for_submit, data: {'disable-with' => "Running..."} %>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  (function() {
    var code_editor = ace.edit("code-editor");
    var ace_modes = <%= raw get_ace_modes(problem.languages) %>;
    $("#submission_language_id").change(function () {
      code_editor.getSession().setMode(ace_modes[$(this).val()]);
    });
    $("#submission_language_id").change()
    $("#submission_content").closest('form').submit(function () {
      $("#submission_content").val(code_editor.getValue());
    });
  })();
<% end %>


<%= javascript_tag do %>
  (function() {
    $("#submission_form").on("ajax:success", function(event, data, status, xhr) {
      if (data.try_problem) {
        $("#tests-passed-count").text(String(data.passed_num));
        data.test_results.forEach(function(elem, idx) {
          $("#test-case-result-" + idx).text(elem.result.toUpperCase());
          $("#test-case-output-" + idx).text(elem.output ? elem.output : "");
        });
        $("#test-results-display").show(500);
      }
    });
    $("#submission_form").on("submit", function() {
      $("#test-results-display").hide(500);
    });
  })();
<% end %>

<%= render 'problems/test_cases', test_cases: problem.test_cases.visible %>
