<%= form_for([:org, company]) do |f| %>
  <div class="form-group row">
    <%= f.label :company_name, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-9 col-xs-offset-3">
      <%= f.submit 'Submit Company', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
