Works everytime<br>
<%= link_to 'Manage your company profile', edit_org_company_profile_path(@company) %><br>
<%= link_to 'Manage Problems', org_problems_path %><br>
<%= link_to 'Manage Interviews', org_interviews_path %><br>
