<%  resource = [problem, test_case]
    resource = [namespace] + resource if defined? namespace
%>
<%= form_for resource do |f| %>
  <div class="form-group row">
    <%= f.label :input, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.text_area :input, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :output, class: "col-xs-3 control-label" %>
    <div class="col-xs-9">
      <%= f.text_area :output, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :secret, class: "col-xs-3 control-label" %>
    <div class="col-xs-1">
      <%= f.check_box :secret, {class: "checkbox-inline"} %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-9 col-xs-offset-3">
      <%= f.submit 'Submit Test Case', { class: "btn btn-primary" } %>
    </div>
  </div>
<% end %>
