/*
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

.navlink {
  font-weight: bolder;
  margin: 0 0px 0 0px;
}

.markdown-text {
  height: 300px;
}

textarea.form-control {
  height: 150px;
}
