<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= local_assigns[:title] || 'Nal.Frontier | Coderoyale' %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlinks" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="<%= main_path %>" class="navbar-brand">CodeRoyale</a>
            </div>
            <% if logged_in %>
            <div class="col-sm-8 col-sm-offset-2">
              <div class="collapse navbar-collapse" id="navlinks">
                <ul class="nav navbar-nav navbar-main">
                  <li class="navlink"><a href="#">Practice</a></li>
                  <li class="navlink"><a href="<%= contests_path %>">Contests</a></li>
                  <li class="navlink"><a href="#">Jobs</a></li>
                  <% if current_user.admin? %>
                  <li class="navlink"><a href="<%= admin_path %>">Admin</a></li>
                  <% end %>
                  <% if current_user.org? %>
                  <li class="navlink"><a href="<%= org_path %>">Organization</a></li>
                  <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="navlink"><a href="/logout">Log Out</a></li>
                </ul>
              </div>
            </div>
            <% end %>
          </div>
        </nav>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
